BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres:password@localhost:5432/apptly
TEMPLATE_REPOSITORY_URL=https://github.com/korneliuszw/flutter-starter-app
WORKSPACE_DIR=/workspace
AI_API_KEY=
OPENAI_BASE_URL=
USER_ID=